{
    "mcpServers": {
      "memory-tools": {
        "command": "node",
        "args": ["./dist/index.js --notestore_path=./llm-mem/docs/md --index_path=./llm-mem/docs/db"],
        "env": {}
      }
    }
}